<header>
    <!-- header inner -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo"> <a href="index.html"><img src="assets/images/logo.jpg" alt="#"></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <div class="menu-area">
                        <div class="limit-box">
                            <nav class="main-menu">
                                <ul class="menu-area-main">
                                    <li class="active"> <a routerLink="home">Home</a> </li>
                                    <li> <a routerLink="about" >About us</a> </li>
                                    <li> <a routerLink="meet" > Meet me</a> </li>
                                    <li> <a routerLink="whatwedo" > What we do</a> </li>
                                    <li> <a routerLink="contact" >Contact us</a> </li>
                                    <li> <a routerLink="contact" >Login </a> </li>
                                    <li class="mean-last"> <a href="#"><img src="assets/images/search_icon.png" alt="#" /></a> </li>
                                    <li class="mean-last"> <a href="#"><img src="assets/images/top-icon.png" alt="#" /></a> </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header inner -->
</header>
<router-outlet></router-outlet>
  <!-- footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="JJcoach">
                        <h3>Health <strong class="coa"> </strong></h3>
                    </div>

                </div>


            </div>
            <div class="row pdn-top-30">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <ul class="location_icon">
                        <li> <img src="assets/icon/location.png"> <span>London 145<br>United Kingdom</span></li>


                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <ul class="location_icon">
                        <li> <img src="assets/icon/tellephone.png"><span>+9187654320<br>+9187654320</span></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <ul class="location_icon">
                        <li> <img src="assets/icon/email.png"><span>Demo@gmail.com<br>Demo@gmail.com</span></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <ul class="location_icon">
                        <li> <a href="#"><img src="assets/icon/facebook.png"></a></li>
                        <li> <a href="#"><img src="assets/icon/Twitter.png"></a></li>
                        <li> <a href="#"><img src="assets/icon/linkedin.png"></a></li>
                        <li> <a href="#"><img src="assets/icon/google+.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a></p>
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery-3.0.0.min.js"></script>
<script src="assets/js/plugin.js"></script>

<!-- sidebar -->
<script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="assets/js/custom.js"></script>
